[submodule "third_party/XNanoReadLine"]
	path = third_party/XNanoReadLine
	url = https://gitee.com/two_salted_eggs/XNanoReadLine.git
	url = https://github.com/qmjianda/XNanoReadLine.git
[submodule "third_party/fatfs"]
	path = third_party/fatfs
	url = https://github.com/abbrev/fatfs.git
